.next
node_modules
node_modules/
.env
.env.local
.env.*.local
coverage
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# в .gitignore
public/sw.js
public/workbox-*.js
public/sw.js.map
public/workbox-*.js.map